.student-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 0.5rem 1rem;
}
.student-registration .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-registration .container .row .card {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .student-registration .container .row .card {
    width: 100%;
  }
}
